@CHARSET "ISO-8859-1";

body {
	color: blue;
}

#header {
  background-color: blue;
  color: black;
}

#body {
  background-color: yellow;
  color: black;
}

#footer {
  background-color: black;
  color: white;
}



